.backInRight {
  animation-name: backInRight !important;
  visibility: visible;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
.wow {
  visibility: visible !important;
}

.rubberBand {
  animation-name: rubberBand !important;
}

.headShake {
  animation-name: headShake !important;
}
.heartBeat {
  animation-name: heartBeat !important;
}
